#hero {
  background-image: url(../images/abstract.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero .d-flex{
  height: 70vh;
}

@media (min-width:576px){

}

@media (min-width:768px){

}

@media (min-width:992px){
  
}